@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --body: #252422;
    --texto:#fffcf2;
    --organge:#eb5e28;
    --texto2: #aaa69f;
}

body{
    background: var(--body);
}
body::-webkit-scrollbar {
    width: 4px; 
    height: 8px; 
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(235, 94, 40,0.5); 
    border-radius: 4px;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
    color: var(--texto);
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
    font-family: 'Roboto Mono', monospace;

}
nav ul li{
    cursor: pointer;
}
nav ul li:hover{
    color:var(--organge)
}
.icon{
    display: flex;
    gap: 3px;    
}
.icon p{
    border: solid 1px var(--organge);
    padding: 3px;
    width: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: var(--texto);
}
.icon p:hover{
    background: var(--organge);
}
section{
    height: 100vh;
}
.section1{
    display: flex;
    margin: 0 70px;
}
.img-perfil{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    min-width: 500px;
    position: relative;

}
.img-perfil img{
    width: 350px;
    border-radius: 10px;
    position: absolute;
}
.img-marco{
    position: absolute;
    border: 3px var(--organge) solid;
    border-radius: 10px;
    width: 350px;
    height: 320px;
    bottom: 210px;
    right: 30px;
}
.img-transparente{
    background: var(--organge);
    opacity: 0.4;
    position: absolute;
    width: 350px;
    height: 320px;
    border-radius: 10px;
}
.Sobre-Mi{
    margin-top: 50px;
}
.Sobre-Mi p{
    margin-top: 30px;
    font-family: 'Roboto Mono', monospace;
    color: var(--organge);
}
.Sobre-Mi h1{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: var(--texto);
    margin-bottom: 15px;
}
.Sobre-Mi h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    color: var(--texto2);
}
a{
    font-family: 'Roboto Mono', monospace;
    color: var(--organge);
    border: 1px solid var(--organge);
    padding: 10px 30px;
    border-radius: 100px;
    margin: 10px;
}

.boton{
    background: var(--organge);
    color: var(--texto);
}
.boton:hover{
    background-color: #e4531a;
}
.boton2:hover{
    background-color: rgb(235, 94, 40);
    background-color: rgba(235, 94, 40,0.1);  
}
.section2{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2-card{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.section2-sobre-mi{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: var(--texto);
}
.card{
    width: 300px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.organge{
    border: 1px solid var(--organge);
}
.card span{
    margin: 30px 0;
    font-size: 50px;
    color: #e4531a;
}
.card h3{
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 25px;
}
.card p{
    font-size: 20px;
    color: #aaa69f;
}
.section2-card .card:hover{
    background: #e4531a;
    box-shadow: 0 0 10px #e4531a, 0 0 40px #e4531a,0 0 80px #e4531a;
}
.section2-card .card:hover span{
    color: #252422;
}
.section2-card .card:hover p{
    color: whitesmoke;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3-titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: var(--texto);
}
.section3-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 500px;
}
.section3-card .card{
    width: 200px;
    gap: 40px;
}
.section3-card .card p{
    font-size: 15px;
}

.section4{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4-titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: var(--texto);
}
.mis-proyectos{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.card-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: #e4531a 2px solid;
    border-top: #e4531a 2px solid;
    box-shadow: 1px 1px 50px -3px #e4531a;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}
.img-mis-proyectos{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0 ;
}
.titulo-mis-proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--texto);
}
.texto-mis-proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--texto); 
}
.card-proyectos a{
   width: 100%;
   height: 100%;
   border: none;
   padding: 0;
   margin: 0;
   display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.card-proyectos:hover{
    width: 255px;
    height: 310px; 
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linea{
    background: #aaa69f;
    width: 80%;
    height: 1px;
}
.contacto{
    display: flex;
    align-items: center;
    height: 80px;
    gap: 40px;
}
.contacto a{
    margin: 0;
    padding: 0;
    border: none;
}
i{
    font-size: 30px;
    color:rgba(245, 245, 245, 0.911);
}
i:hover{
    font-size: 35px;
    color: #e4531a;
}


